body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#title{
    color: aqua;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding-top: 1rem;
}

#search-bar{
    margin: 2em 0;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items:center;
}
#search-button{
    position: relative;
    top: 3px;
}
#search-input{
    margin: 0.5em 0;
}

#input-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#weather{
    text-align: center;
}
#current-img{
    width: 7em;
    margin-bottom: 15px;
}

#current-temp{
    font-size: 38px;
}

button {
    border: none;
    background-color: grey;
    color: white;
    padding: 0.5em;
    border-radius: 10px;
}
button:focus {
    border: none;
    outline: none;
}


#feels-like{
    font-size: 1em;
    margin: 1em 0;
}

#city-name{
    font-size: 2rem;
}

#forcast{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-around;
}
.day-cast{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;

}
.day-cast > img{
    width: 5em;
}

@media (max-width: 600px){
    #forcast{
        flex-direction: column;
        position: relative;
        margin-top: 3em;
        align-items: center;
    }
    .day-cast{
        flex-direction: row;
        gap: 3em;
        margin-left: 1em;
        margin-bottom: 1em;
    
    }
}
